footer {
	width: 90%;
	height: 250px;
	margin: auto auto;
	text-align: center;
	color: white;
	border-top: 4px solid white;
}

.footer__container {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.footer__container a {
	margin-top: 30px;
}

.footer__container p {
	margin: 10px 0 10px 0;
}

.logo__footer {
	width: 50px;
}

.fab,
.far {
	color: white;
	font-size: 2rem;
	margin: 10px 10px;
}
