.profile_img_container {
	width: 100%;
}

.profile_img {
	width: 15%;
	border-radius: 90%;
	display: block;
	margin: 20px auto 20px auto;
}

.presentation_container {
	height: 200px;
}

h1 {
	text-align: center;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 2.5rem;
	font-weight: lighter;
	margin: 0;
}

span {
	color: #f25c05;
}

h2 {
	text-align: center;
	color: white;
	margin: 0;
}

.menu-btn {
	display: block;
	right: 0;
	margin: 1em;
	position: absolute;
	top: 5%;
	width: 36px;
	transform: translate(-50%, -50%);
}

.about__container {
	width: 100%;
	margin-bottom: 100px;
	background-color: black;
}

.about__card {
	width: 70%;
	margin: auto auto;
	border-radius: 5px;
	color: white;
	text-align: center;
}

.about__card h3 {
	text-align: center;
	padding-top: 20px;
	margin: 0;
	font-size: 1.5rem;
}

.about__card p {
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 20px;
	font-size: 1.125rem;
	font-weight: lighter;
}

.about__card p a {
	color: #f25c05;
}

.skill__container {
	width: 80%;
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto 100px auto;
}

.skill__card {
	width: 400px;
	border-radius: 5px;
	border: white 5px solid;
	color: white;
	text-align: center;
	background-color: #657674;
}

.skill__card h3 {
	text-align: center;
}

.skill__card ul li {
	display: block;
}
