.profile_img_container {
	width: 100%;
}

.profile_img {
	width: 15%;
	border-radius: 90%;
	display: block;
	margin: 20px auto 20px auto;
}

.presentation_container {
	height: 150px;
}

.presentation_container h1 {
	text-align: center;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 3rem;
	font-weight: normal;
	margin: 0;
}

span {
	color: #f25c05;
}

h2 {
	text-align: center;
	color: white;
	margin: 0;
	font-size: 1.5rem;
}

.about__container {
	width: 100%;
	margin: 0 auto 50px auto;
}

.about__card {
	width: 60%;
	margin: auto auto;
	border-radius: 5px;
	color: white;
	text-align: center;
}

.about__card h3 {
	text-align: center;
	padding-top: 20px;
	margin: 0;
	font-size: 1.5rem;
}

.about__card p {
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 20px;
	font-size: 1.125rem;
	font-weight: lighter;
}

.about__card p a {
	color: #f25c05;
	font-weight: bolder;
}

.skill__container {
	width: 80%;
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto 100px auto;
}

.skill__card {
	width: 40%;
	height: 400px;
	margin: 0 auto 50px auto;
	color: white;
}

.design__card {
	width: 60%;
	height: 400px;
	margin: 0 auto 50px auto;
	color: white;
}

.skill__btn {
	background-color: white;
}

.design__card h3 {
	text-align: center;
	font-size: 1.6rem;
}

.skill__card h3 {
	text-align: center;
	font-size: 1.6rem;
}

.skill__card ul {
	margin: auto auto;
	width: 40%;
}

.skill__card ul li {
	display: inline-block;
}

.icon {
	width: 30%;
	padding: 10px;
	margin-left: 40px;
}

.skill_block {
	width: 250px;
	margin: auto auto;
}

.fe__skill {
	text-align: center;
	display: flex;
}

.fe__skill p {
	padding-top: 10px;
	font-size: 1.4rem;
	margin: 10px;
}

.fe__design {
	text-align: center;
	display: flex;
	justify-content: center;
	width: 50%;
}

.fe__design p {
	margin: auto 0;
}

.adobe,
.figma {
	margin: 0;
	width: 75px;
	height: 75px;
}

.adobe {
	margin: 0;
	width: 75px;
	height: 75px;
}

.design__block {
	display: flex;
}

.design__text {
	width: 95%;
	margin: auto auto;
	text-align: center;
}

.design__text p {
	padding: 15px;
}

.design__text p {
	font-size: 1.25rem;
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
	.skill__container {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.design__card {
		width: 80%;
	}
}

@media (max-width: 767px) {
	.design__card {
		height: 500px;
	}
}
